<?xml version="1.0"?>
<!--
/**
 * Jean Jean Inc.
 * 
 *
 * @category   Laurent
 * @package    Laurent_Sass
 * @author     Laurent Clouet <laurent35240@gmail.com>
 * @date       9/29/12
 * @copyright  Copyright (c) 2012 Jean Jean Inc. (http://laurent-clouet.fr/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0) 
 */-->
<config>
    <sections>
        <dev>
            <groups>
                <sass translate="label" module="sass">
                    <label>Sass settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>120</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <use_ruby translate="label comment" module="sass">
                            <label>Use sass in command line</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Do not forget to install ruby and sass on your server.<br/>If you do not want to use sass in command line, phpSass will be used instead]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_ruby>
                        <ruby_sass_command translate="label" module="sass">
                            <label>Sass command</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <use_ruby>1</use_ruby>
                            </depends>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ruby_sass_command>
                        <debug translate="label" module="sass">
                            <label>Add debug info in generated files</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Use then FireSass plugin for <a href="https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/" target="_blank">FireBug</a>.]]></comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                    </fields>
                </sass>
            </groups>
        </dev>
    </sections>
</config>
